<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    

        <meta charset="UTF-8">
    
        <link rel="stylesheet" href="style.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://pie-meister.github.io/PieMeister-with-Progress.min.js"></script>

         <script>
            function ShowIt(){
               var obj = document.getElementById("home-section");
               if(obj.style.display == "block")
                  obj.style.display = "none";
               else
                  obj.style.display = "block";
            };
         </script>




    




    <body style="background-color: rgba(41, 122, 122, 0.067);">
       
        <div class="sidebar">
            <div class="logo-details">
                
              <!--<i class="material-icons">---</i>-->
                <div class="logo_name">MRVN</span></div>
                <i id="btn" ><i class="material-icons" style="float: left;" >print</i></i>
            </div>
            <ul class="nav-list">

                <li>
                    <form name="input1" th:action="@{/Home}"  method="post">
                    <button href="#" id="1">
                      <i class="material-icons" >home</i>
                      <span class="links_name">Home</span>
                    </button>
                     </form>
                     <span class="tooltip">Home</span>
                  </li>

    
            
                  <li>
                    <a href="#" id="2">
                      <i class="material-icons">dashboard</i>
                      <span class="links_name">Commands</span>
                    </a>
                     <span class="tooltip">Commands</span>
                  </li>
                 
                  
            
             
              
             <li class="profile">
                 <div class="profile-details">
                   <div class="name_job">
                     <div class="name">D. Oliveira</div>
                     <div class="job"> --- </div>
                   </div>
                 </div>
             </li>

            </ul>
          </div>


          <section class="home-section">

           <div class="content" id="resume">

            <div class="box-view" id="printer1">
              <span class="title">Printer 1: </span>
             
           
            <i class="material-icons blink" style="float: right; margin-right:20px; margin-top:10px; color:rgb(9, 116, 16)" >wifi</i>   
                <div class="resume-view">
                    <span th:text="${arquivo1}">Arquivo:</span><br>
                    <span>Status:</span><br> 
                   
                </div>


                <div class="progress-view" id="Progress_1">
                    <progress-circle color="White" edge=#232333 width="50">
                        <progress value="50%" stroke=#696cff  >Printing...</progress>
                    </progress-circle>
                </div>
            
            
                <div class="box-send">
                <form name="input1" th:action="@{/File1}"  method="post">
                
                <select th:name="file1" class="select-form" id="dropDownList">
                    <option value="0">Select File</option>
                    <option th:each="option : ${files}"  th:value="${option}" th:text="${option}"></option>
                </select>
                <button class="bt" href="/"><span>Send File </span></button>
                <!--<input name="file1"  th:id="input1" class="input-file" type="file" />-->    
                 </form>
                   
              </div>

          
            </div>
            
 
                   

               
               
               
               

            <div class="box-view" id="printer2">
            <span class="title">Printer 2: </span>
            
            <i class="material-icons blink" style="float: right; margin-right:20px; margin-top:10px; color:rgb(9, 116, 16)" >wifi</i>   
                <div class="resume-view">
                    <span th:text="${arquivo2}">Arquivo:</span><br>
                    <span>Status:</span><br> 
                    
                   
            </div>


                <div class="progress-view" id="Progress_2">
                    <progress-circle color="White" edge=#232333 width="50">
                        <progress value="68%" stroke=#696cff  >Printing...</progress>
                    </progress-circle>
                </div>
            
            
            <div class="box-send">
            <form name="input2" th:action="@{/File2}"  method="post">
                
                <select th:name="file2" class="select-form" id="dropDownList">
                    <option value="0">Select File</option>
                    <option th:each="option : ${files}"  th:value="${option}" th:text="${option}"></option>
                </select>
                <button class="bt" href="/"><span>Send File </span></button>
                <!--<input name="file1"  th:id="input1" class="input-file" type="file" />-->    
            </form>
            </div>
            


            </div>


            <div class="box-view" id="printer3">
            <span class="title">Printer 3: </span> 

            <i class="material-icons blink" style="float: right; margin-right:20px; margin-top:10px; color:rgb(9, 116, 16)" >wifi</i>   
            <div class="resume-view">
                <span>Arquivo:</span><br>
                <span>Status:</span><br> 
               
            </div>


            <div class="progress-view" id="Progress_3">
                <progress-circle color="White" edge=#232333 width="50">
                    <progress value="86%" stroke=#696cff  >Printing...</progress>
                </progress-circle>
            </div>

            </div>


            <div class="box-view" id="printer4">
            <span class="title">Printer 4: </span>

            <i class="material-icons blink" style="float: right; margin-right:20px; margin-top:10px; color:rgb(212, 48, 48)" >wifi off</i>   
            <div class="resume-view">
                <span>Arquivo:</span><br>
                <span>Status:</span><br> 
               
            </div>


            <div class="progress-view" id="Progress_3">
                <progress-circle color="White" edge=#232333 width="50">
                    <progress value="12%" stroke=#696cff  >Printing...</progress>
                </progress-circle>
            </div>

            </div>


     




           </div>
              
         
              
              
      <div class="content" id="configuration">
            
           <div class="box-config" id="config1">
               <h2 style="color:#fff; margin-top: 10px; margin-left: 10px;">Comandos Rápidos Printer 1</h2>
              
              <form name="Home11" th:action="@{/AutoHomePrinter}"  method="post">
              <button class="bt" style="float: left">Auto Home</button>
              </form>
               
              <form name="Home12" th:action="@{/ABSPrinter}"  method="post">
              <button class="bt" style="float: left">ABS</button>
              </form>
               
               <form name="Home13" th:action="@{/PLAPrinter}"  method="post">
              <button class="bt" style="float: left">PLA</button>
              </form> 
              
              
              <div class="axis-box">
              <form name="xyz" th:action="@{/MovePrinter}"  method="post">
              <label class="format-text">Eixo X</label>
              <input style="margin-left: 10px; margin-top: 20px; border-radius: 10px; " name="x"  th:id="input1" class="input-file" type="number" min="0" step="1" value="100"/><br><br>
              <label class="format-text">Eixo Y</label>
              <input style="margin-left: 10px; margin-top: 20px; border-radius: 10px; " name="y"  th:id="input1" class="input-file" type="number" min="0" step="1" value="100"/> <br> <br>
              <label class="format-text">Eixo Z</label>
              <input style="margin-left: 10px; margin-top: 20px; border-radius: 10px;" name="z"  th:id="input1" class="input-file" type="number" min="0" step="1" value="100"/>
              <button class="bt" style="float: right">Set Position</button>
              </form>
              </div>
               

           
            
          </div>
            
          
          <div class="box-config" id="config2">
               <h2 style="color:#fff; margin-top: 10px; margin-left: 10px;">Comandos Rápidos Printer 2</h2>
              
              <form name="Home11" th:action="@{/AutoHomePrinter}"  method="post">
              <button class="bt" style="float: left">Auto Home</button>
              </form>
               
              <form name="Home12" th:action="@{/ABSPrinter}"  method="post">
              <button class="bt" style="float: left">ABS</button>
              </form>
               
               <form name="Home13" th:action="@{/PLAPrinter}"  method="post">
              <button class="bt" style="float: left">PLA</button>
              </form> 
              
              
              <div class="axis-box">
              <form name="xyz" th:action="@{/MovePrinter}"  method="post">
              <label class="format-text">Eixo X</label>
              <input style="margin-left: 10px; margin-top: 20px; border-radius: 10px; " name="x"  th:id="input1" class="input-file" type="number" min="0" step="1" value="100"/><br><br>
              <label class="format-text">Eixo Y</label>
              <input style="margin-left: 10px; margin-top: 20px; border-radius: 10px; " name="y"  th:id="input1" class="input-file" type="number" min="0" step="1" value="100"/> <br> <br>
              <label class="format-text">Eixo Z</label>
              <input style="margin-left: 10px; margin-top: 20px; border-radius: 10px; " name="z"  th:id="input1" class="input-file" type="number" min="0" step="1" value="100"/>
              <button class="bt" style="float: right">Set Position</button>
              </form>
              </div>
              


           
            
          </div>
          
            
          <div class="box-config" id="config3">


           
            
          </div>
          
          <div class="box-config" id="config4">


           
            
          </div>
                  
                  
                
         </div>
      
         
         
         
             
         </section>
          
         
         
         
         

        
        
        <<script type="text/javascript">
            
            
         
                 document.getElementById("resume").style.display = "none";
                 document.getElementById("configuration").style.display = "inline";
                 
         
       
        </script>
         
         
         
         
         

         
           <script type="text/javascript">
             document.getElementById("1").onclick = function() {
         
                 document.getElementById("resume").style.display = "inline";
                 document.getElementById("configuration").style.display = "none";
                 
         
             };

             document.getElementById("2").onclick = function() {
         
             document.getElementById("resume").style.display = "none";
             document.getElementById("configuration").style.display = "inline";
         
 
     };
         
         
         
         
         </script>
         
           
         
         
           <script>
           let sidebar = document.querySelector(".sidebar");
           let closeBtn = document.querySelector("#btn");
           let searchBtn = document.querySelector(".bx-search");
         
           closeBtn.addEventListener("click", ()=>{
             sidebar.classList.toggle("open");
             menuBtnChange();//calling the function(optional)
           });
         
           searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
             sidebar.classList.toggle("open");
             menuBtnChange(); //calling the function(optional)
           });
         
           // following are the code to change sidebar button(optional)
           function menuBtnChange() {
            if(sidebar.classList.contains("open")){
              closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            }else {
              closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
            }
           }
           </script>
         
        
         
         
         
        
        

    </body>


</html>

